openapi: 3.0.3
info:
  title: Blackbox API Proxy
  version: 1.0.0
  description: >
    A blazing-fast, lightweight reverse proxy written in Rust that provides a standard 
    OpenAI-compatible `/chat/completions` API interface to the internal Blackbox AI backend.
servers:
  - url: 'https://bapi.utksh.in'
    description: Primary Custom Domain
  - url: 'https://blackbox-proxy-z0hn.onrender.com'
    description: Render Default Domain
  - url: 'http://localhost:8080'
    description: Local development server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Your PROXY_API_KEY (defaults to `xyz`) or your Blackbox API token.
security:
  - bearerAuth: []
paths:
  /chat/completions:
    post:
      summary: Create chat completion
      description: Send a chat completion request to the Blackbox proxy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - messages
              properties:
                model:
                  type: string
                  example: minimax-m2.7
                  description: The model to route to (e.g. `minimax-m2.7`, `kimi-k2.6`).
                messages:
                  type: array
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum: [system, user, assistant]
                      content:
                        type: string
                stream:
                  type: boolean
                  default: false
                tools:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        default: function
                      function:
                        type: object
            example:
              model: minimax-m2.7
              messages:
                - role: user
                  content: Hello, tell me a quick joke about programmers.
              stream: false
      responses:
        '200':
          description: Chat completion response
        '401':
          description: Unauthorized - Invalid PROXY_API_KEY
  /models:
    get:
      summary: List available free models
      description: Returns a list of all free models supported by this proxy. Paid models are intentionally omitted.
      responses:
        '200':
          description: A list of available models
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                          example: model
                        owned_by:
                          type: string
                        free:
                          type: boolean
                          example: true
              example:
                object: list
                data:
                  - id: minimax-m2.7
                    object: model
                    owned_by: minimax
                    free: true
                  - id: kimi-k2.6
                    object: model
                    owned_by: moonshot
                    free: true
                  - id: custom/blackbox-base-2
                    object: model
                    owned_by: blackbox
                    free: true
                  - id: gpt-4o-mini
                    object: model
                    owned_by: openai
                    free: true
